/* Header */
.site-header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

/* Navigation */
.site-nav {
    height: 100%;
    justify-content: center;
}

.site-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.site-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline 1px transparent;
}

.site-nav a:hover {
    text-decoration: underline 1px solid #4FA158; /* Optional hover effect */
}

/* Main content */
.main-content {
    max-width: 1000px;
    margin: 20px auto;
}

/* Footer */
.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 40px;
}

.site-footer a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

.site-footer a:hover {
    text-decoration: underline;
}

.header-img {
    height: 70px;
}

.site-nav, .search-profile-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-profile-container {
   justify-content: flex-end;
   display:flex;
   gap: 80px;
}

#header-search {
    height: 30px;
    width: 40%;
}

.profile-button {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: none;
    overflow: hidden;
}